@import '../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../resources/views/filament';

.theme-swatch {
    @apply inline-flex w-4 h-4 rounded-full mr-2 bg-[var(--swatch)];
}
