parameters:
	ignoreErrors:
		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 1
			path: config/cachet.php

		-
			message: "#^Method Cachet\\\\CachetCoreServiceProvider\\:\\:routeConfiguration\\(\\) is unused\\.$#"
			count: 1
			path: src/CachetCoreServiceProvider.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:allowedIncludes\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Api/IncidentController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:allowedFilters\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Api/IncidentUpdateController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:allowedIncludes\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Api/MetricController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:allowedIncludes\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Api/MetricPointController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:allowedSorts\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Api/ScheduleUpdateController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:enabled\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/StatusPage/StatusPageController.php

		-
			message: "#^Parameter \\#1 \\$relations of method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Cachet\\\\Models\\\\ComponentGroup\\>\\:\\:with\\(\\) expects array\\<array\\|\\(Closure\\(Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation\\<\\*, \\*, \\*\\>\\)\\: mixed\\)\\|string\\>\\|string, array\\{components\\: Closure\\(Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\)\\: mixed\\} given\\.$#"
			count: 1
			path: src/Http/Controllers/StatusPage/StatusPageController.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 1
			path: src/Http/Requests/ProfileUpdateRequest.php

		-
			message: "#^Method Cachet\\\\Http\\\\Resources\\\\ComponentGroup\\:\\:toRelationships\\(\\) should return array\\<string, \\(callable\\(\\)\\: TiMacDonald\\\\JsonApi\\\\JsonApiResource\\)\\|Illuminate\\\\Http\\\\Resources\\\\PotentiallyMissing\\|TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\> but returns array\\{components\\: Closure\\(\\)\\: \\(iterable\\<int, mixed\\>&TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\)\\}\\.$#"
			count: 1
			path: src/Http/Resources/ComponentGroup.php

		-
			message: "#^Access to an undefined property Cachet\\\\Http\\\\Resources\\\\Incident\\:\\:\\$latestStatus\\.$#"
			count: 2
			path: src/Http/Resources/Incident.php

		-
			message: "#^Method Cachet\\\\Http\\\\Resources\\\\Incident\\:\\:toRelationships\\(\\) should return array\\<string, \\(callable\\(\\)\\: TiMacDonald\\\\JsonApi\\\\JsonApiResource\\)\\|Illuminate\\\\Http\\\\Resources\\\\PotentiallyMissing\\|TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\> but returns array\\{components\\: Closure\\(\\)\\: \\(iterable\\<int, mixed\\>&TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\), updates\\: Closure\\(\\)\\: \\(iterable\\<int, mixed\\>&TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\)\\}\\.$#"
			count: 1
			path: src/Http/Resources/Incident.php

		-
			message: "#^Access to an undefined property Cachet\\\\Http\\\\Resources\\\\Metric\\:\\:\\$status\\.$#"
			count: 1
			path: src/Http/Resources/Metric.php

		-
			message: "#^Method Cachet\\\\Http\\\\Resources\\\\Metric\\:\\:toRelationships\\(\\) should return array\\<string, \\(callable\\(\\)\\: TiMacDonald\\\\JsonApi\\\\JsonApiResource\\)\\|Illuminate\\\\Http\\\\Resources\\\\PotentiallyMissing\\|TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\> but returns array\\{points\\: Closure\\(\\)\\: \\(iterable\\<int, mixed\\>&TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\)\\}\\.$#"
			count: 1
			path: src/Http/Resources/Metric.php

		-
			message: "#^Method Cachet\\\\Http\\\\Resources\\\\Schedule\\:\\:toRelationships\\(\\) should return array\\<string, \\(callable\\(\\)\\: TiMacDonald\\\\JsonApi\\\\JsonApiResource\\)\\|Illuminate\\\\Http\\\\Resources\\\\PotentiallyMissing\\|TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\> but returns array\\{components\\: Closure\\(\\)\\: \\(iterable\\<int, mixed\\>&TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\), updates\\: Closure\\(\\)\\: \\(iterable\\<int, mixed\\>&TiMacDonald\\\\JsonApi\\\\JsonApiResourceCollection\\)\\}\\.$#"
			count: 1
			path: src/Http/Resources/Schedule.php
