@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
    }

    .button--primary {
        @apply bg-primary-600 hover:bg-primary-600 focus-visible:outline-primary-600;
    }

    .button--danger {
        @apply bg-red-600 text-red-100 hover:bg-red-700 focus-visible:outline-red-300 focus-visible:outline-red-800 dark:bg-red-800 dark:text-red-400 dark:hover:bg-red-700;
    }

    .button--secondary {
        @apply bg-zinc-300 text-zinc-800 hover:bg-zinc-400 focus-visible:outline-zinc-300 focus-visible:outline-zinc-800 dark:bg-[var(--background)] dark:text-zinc-400 dark:hover:bg-zinc-700;
    }
}

@layer utilities {
    [x-cloak] {
        display: none !important;
    }
}
